* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 10px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 3%;
}

body {
  background-color: #af1d1b;
}

.video {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
}

iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
}
